<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hero - Admin</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <style>
    .hero-list img {
      width: 50px;
    }
  </style>
</head>

<body>
  <header>
    <div class="page-header container">
      <h1><a href="/">王者荣耀</a> <small>英雄管理器</small></h1>
    </div>
  </header>
  <div class="container hero-list">
    <a class="btn btn-success pull-right" href="/add">添加英雄</a>
    <table class="table table-hover">
      <thead>
        <th>编号</th>
        <th>名称</th>
        <th>性别</th>
        <th>头像</th>
        <th>操作</th>
      </thead>
      <tbody id="tbody">

      </tbody>
    </table>
  </div>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/node_modules/art-template/dist/template-native.js"></script>
  <script type="text/template" id="tpl">
    <% heros.forEach(function (hero) { %>
      <tr>
        <td>
          <%= hero.id %>
        </td>
        <td>
          <%= hero.name %>
        </td>
        <td>
          <%= hero.gender %>
        </td>
        <td><img src="<%= hero.avatar %>" alt=""></td>
        <td>
          <a href="/info?id=<%= hero.id %>">查看</a>
          <a href="/edit?id=<%= hero.id %>">编辑</a>
          <a class="remove" href="/delete?id=<%= hero.id %>">删除</a>
        </td>
      </tr>
      <% }) %>
  </script>
</body>
<script>
  //无刷新删除思路----
  //采用客户端渲染  这样才可以无刷新呀
  //页面加载 发送请求 页面加载
  //点击按钮发送请求 删除数据
  //删除数据后再次发送请求请求数据
  //渲染数据


  //页面加载 调用函数
  loadData()
  //请求数据参数
  function loadData() {
    $.ajax({
      url: '/heros',
      type: 'get',
      dataType: 'json',
      success: function (data) {
        //获取数据 渲染
        var html = template('tpl', data.result);
        $('#tbody').html(html);
      }
    })
  }

  //点击删除
  //发送请求删除数据
  function remove(e) {
    e.preventDefault()
    if (window.confirm('are you ok？')) {
      $.ajax({
        url: $(this).attr('href'),
        type: 'get',
        dataType: 'json',
        success: function (data) {
          if (data.err_code === 0) {
            //删除请求响应成功后 调用函数请求数据 再次渲染
            loadData();
          }
        }
      })
    }
  }
  //事件委托  给所有带有.remove的的a绑定事件
  $('body').on('click', '.remove', remove);
</script>

</html>